
.login_box {
    background-color: rgb(116, 172, 200);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
   }
   input{
    border-bottom: 2px rgb(167, 164, 164) solid;
    width: 280px;
   }
   .login_button{
    background: linear-gradient(to right, rgb(68, 121, 236), rgb(231, 49, 204));
    width: 100%; 
   }
   .button_sec{
    background-color: rgb(240, 242, 244);
    border-radius: 20px;
   }
   .button_sec:hover{
    background: linear-gradient(to right, rgb(68, 121, 236), rgb(231, 49, 204));
    color: rgb(254, 250, 250);
   }

.body {
    background: linear-gradient(to right, rgb(68, 121, 236), rgb(231, 49, 204));
  }